{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-center">
    <h1 class="text-center mb-4">Upload</h1>
  </div>
  <div class="row justify-content-center">
    <form method="POST" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
        <p><input type="file" name="file" accept=".pdf"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>
{% endblock content %}
